/** MAIN CSS - OVERIDES BOOTSTRAP STYLES **/
body, .blue-grad {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
background: -moz-radial-gradient(center, ellipse cover,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

footer {
	text-align: center;
}

.min-max {
	max-width: 674px;
	max-height: 420px;
}

.radius-img {
	border-radius: 20px;
}

.circle-radius {
	border-radius: 50%;
}

.width-img {
	width: 100%;
}

.navbar {
	background-color: ;
}

img {
	border: 1px solid purple;
	margin: auto;
}

span .centered{
	margin: 0 auto;
	text-align: center;
}

.centered {
	text-align: center;
}

.no-border {
	border-style: none;
}

.padding-footer-text {
	padding-top: 7px;
}

.text-padding {
	padding-top: 10px;
}

.tangerine {
	font-family: 'Tangerine';
}

.aside-font-size {
	font-size: 1.5em;
}

.margin-top {
	margin-top: 20px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Tangerine';
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 4em;
}

h3{
	font-size: 3em;
}

h4 {
	font-size: 2em;
}

.fill {
	background-color: white;
}

.gradient-purple {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+5,000000+91&0+41,0.65+99 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 5%, rgba(0,0,0,0) 41%, rgba(0,0,0,0.56) 91%, rgba(0,0,0,0.65) 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 5%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.56) 91%,rgba(0,0,0,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 5%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.56) 91%,rgba(0,0,0,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}



